In [9]:
#SETS in Python are collection of unordered elements
#In python sets are written in curly braces{}

#1 CREATION OF A SET
seta = {1,2,5,1,7,6,8,1} #duplicate elements are removed
print('seta is:')
print(seta)

c=set()
print('\nempty set:')
print(c)

seta is:
{1, 2, 5, 6, 7, 8}

empty set:
set()

In [22]:
#add() and update() items in set
seta= {'C','C++','JAVA'}
print(seta)
seta.add('PYTHON') #adds value to existing list
print(seta)

#UPDATE() #is used to merge 2 or more sets
setb={1,2,3,4}
print('\ninitial set')
print(setb)

setb.update(seta)
print('after update:')
print(setb)

{'JAVA', 'C', 'C++'}
{'PYTHON', 'JAVA', 'C', 'C++'}

initial set
{1, 2, 3, 4}
after update:
{1, 2, 3, 4, 'C++', 'C', 'JAVA', 'PYTHON'}

In [25]:
#REMOVE ITEM: removes or discards items in set
#we can also use pop()
seta={'apple','juice',10}

seta.remove(10)

print(seta)

#using DISCARD()
setb={50,100,200,250}

setb.discard(200)
print(setb)

{'apple', 'juice'}
{50, 250, 100}

In [44]:
#Get length of set using len()
a = {0,'an','apple',80,2,3,4,5,'b','sd'}
print('length of seta is:')
print(len(seta))

b= {'earth','mars','venus'}
print('\n copied set is:')
b1=b.copy()
print(b1)

length of seta is:
3

 copied set is:
{'mars', 'earth', 'venus'}

In [33]:
#clearing set using clear()
seta={'rose','lily','lavander'}
seta.clear()
print(seta)

set()

In [35]:
#SET METHODS
#union() contains all items from original set and all items from specified sets
seta={80,90}
setb={'rose','lilly'}
x=seta.union(setb)
print(x)

{80, 90, 'lilly', 'rose'}

In [36]:
#INTERSECTION() returns similar element that exist in 2 or lists
seta={'rose','lily','kiwi'}
setb={'kiwi',1,100}
x=seta.intersection(setb)
print(x)

{'kiwi'}

In [4]:
#DIFFERENCE() returns the items that exist in only set a and not b and vice versa
a={'lily','sunflower','rose'}
b={'marigold','sunflower','tuplip'}
x=a.difference(b)
print(x)

print('\n')
y=b.difference(a)
print(y)
#also discareds similar items

{'rose', 'lily'}


{'tuplip', 'marigold'}

In [1]:
#SYMMETRIC_DIFFERENCE() returns items of both the sets but discards the similar items
a={1,46,79,546}
b={2,22,333,1,79}
c=a.symmetric_difference(b)
print('similar items have been removed 1,79:')
print(c)

similar items have been removed 1,79:
{2, 546, 22, 333, 46}

In [26]:
#MEMBERSHIP OPERATORS(in, not in) used to validatethe membership of a value

#1) in(): checks if the value exists in a sequence and is true if it finds the val else false
a={2,4,6,8}
b={3,62,7,100}

for z in a:
    if z in b:
        print('true')
else:
        print('false')

false

In [38]:
#2) not in():  

a={2}
b={10}

s={2,3,4,5}
if (a not in s):
    print('\na  exist in s')
else:
    print('\nb  does not exist')

if b not in s:
    print('\nb does not exist in s')
else:
    print('\nb exists')

a  exist in s

b does not exist in s

In [6]:
#SET COMPREHENSION(provide us with short and concise form to create new sets)
#PROGRAM TO PRINT EVEN NUMBERS
input_set={23,4,5,21,24,44}
set_using_comp = {a for a in input_set if a % 2 == 0}
print('out_set using set comprehension:',set_using_comp)

out_set using set comprehension: {24, 4, 44}